h1, h2 {
  font-weight: 100;
  padding-top: 50px; 
}

.text-white {
  color: #fff;
}

.top-body {
  color: #fff;
  font-size: 20px;
}

.btn-show-block {
  width: 200px;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
}
  
.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

.top-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  background-image: image-url('img2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  .top-index-single {
    background-color: rgba(255,255,255,0.8);
    padding-top: 20px;
    padding-bottom: 70px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .top-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .top-event-place {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .top-event-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .top-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
    
    .top-index-icon-comment {
      width: 35px;
      height: 30px;
      margin-left: 30px;
    }
    
    .icon-description {
      font-size: 12px;
      margin-left: 15px;
    }
    
    .icon {
      float: left;
    }
    
    .comment {
      margin-left: 25px;
    }
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('tijs-van-leur-Qnlp3FCO2vc-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  
  background-image: image-url('globelet-reusable-dsp8uHRlS6c-unsplash2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;
    padding-bottom: 220px;


    .form-group {
      margin-bottom: 10px;
    }
    
    .user-page {
      border: 1px solid #565656;
    }
    
    .conditional-character {
      margin-top: 0px;
    }
    
    p {
      margin-top: 50px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.conditional-character {
  font-size: 13px;
  color: red;
}

.navbar-transparent {
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  img {
    height: 40px;
  }
  
  p {
    margin-bottom: 0px;
  }
  
}

@media (min-width: 1200px){
.container {
    width: 1500px;
  }
}
.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
  width: 100vw;
  height: 100vh;
  background-image: image-url('paper-3204064_1280.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  
  span {
    color: red;
  }
}

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    margin-left: 20px;
    
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-place {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {


      padding-left: 30px;
    }
  }
}

.topic-show-single {
  margin-left: 40px;
  width: 37vw;
}

.cover-user-show {
  background-image: image-url('audio-g338195fd7_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 120px;
  
  .user-profile {
    position: fixed;
    top: 220px;
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.favorite-index {
  padding-top: 50px;
  margin-left: 0px;
}

.fa-ul {
    padding-left: 0px;
    margin-left: var(--fa-li-margin,0)!important;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.index {
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  border-radius: 3px;
}

.icon-count {
  padding-left: 5px;
}

.icon span {
  margin-left: 10px;
}

.top-author {
  padding-top: 0px;
  font-size: 30px;
}



.cover-user-edit {

  background-image: image-url('audio-g338195fd7_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 120px;

  .user-edit {
    font-size: 25px;
  }
}

.btn-success {
  margin-top: 20px;
}